{% load static %}
<link rel="stylesheet" type="text/css" href="static/styles/homepageStyle.css">


<nav class="navbar">

    <div id="navBrand" class="navItem">
        <a class='navLink' href="{% url 'home' %}">Captain KneckBeard</a>
    </div>
    
    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Library</a>
    </div>
    
    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Shop</a>
    </div>

    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Donate</a>
    </div>

    
    
    <div id="navSlogan" class="navItem">
        For you, my Kitten Waifus.
    </div>

</nav>


<div id='content'>
    <img src="static/images/homepage/shipSil.png" id='backGroundImage'/>
    
    <div id='comicOfTheWeek' class='majorSection'>

        <div id='comicOfTheWeekTextSection'>

            <h2 id='comicOfTheWeekTitle'>
                He Is GOING!
            </h2>

            <div id='comicOfTheWeekAbout'>
                <p>
                This week captain kneckbears is going at is this absolue madlad
                cannot be contained.
                Join us this week to experience the ship, the ocean
                and the beard.
                He certainly is a man!
                How did he get here!?
                Find out with us this week!
                </p>
            </div>

        </div>

        <div id='comicOfTheWeekComic'>
            <image src='static/images/homepage/placeHolderImage.jpg' id='comicImage'/>
        </div> 


    </div>

    

</div>