{% load static %}
<link rel="stylesheet" type="text/css" href="static/styles/homepageStyle.css">


<nav class="navbar">

    <div id="navBrand" class="navItem">
        <a class='navLink' href="{% url 'home' %}">Captain KneckBeard</a>
    </div>
    
    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Library</a>
    </div>
    
    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Shop</a>
    </div>

    <div class="navItem">
        <a class='navLink' href="{% url 'home' %}">Donate</a>
    </div>

    
    
    <div id="navSlogan" class="navItem">
        For you, my Kitten Waifus.
    </div>

</nav>


<div id='content'>
    <img src="static/images/homepage/shipSil.png" id='backGroundImage'/>
    
    <div id='comicOfTheWeek' class='majorSection'>

        <div id='comicOfTheWeekTextSection'>

            <h2 id='comicOfTheWeekTitle'>
                
            </h2>

            <div id='comicOfTheWeekAbout'>

            </div>

        </div>

        <div id='comicOfTheWeekComic'>

        </div> 


    </div>

</div>