:root {
    --mainBlack: #1a1a1d;
    --mainGrey: #4e4e50;
    --rDark: #6f2232;
    --rMid: #950740;
    --rBright: #c3073f;

  }

*{
    padding: 0;
    margin: 0;
}
/* START Nav Bar Section */

.navbar{
    z-index: 10;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid var(--mainGrey);
    margin-bottom: 0;
    position: fixed;
    background-color: var(--mainBlack);

    /* Ensures the that navbar's Items do not cascade */
    min-width:1000px;
    
}

#navBrand{
    font-family: 'IM Fell English', serif;

}

.navItem{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1em 1em;

}

.navLink{
    font-family: 'Merriweather', serif;
}

.navItem a{
    text-decoration: none;
    color: var(--rBright);

}


#navSlogan{
    float:right;
}
/* END Nav Bar Section */

/* START CONTENT BACKGROUND SECTION */

#content{
    width: 100%;
    height: auto;
    position: absolute;
}

body{
    background-color: var(--mainBlack);
    margin: 0;
    max-width: 100%;
}

#backGroundImage{
    width: 100%;
    position: absolute;
}

.majorSection{
    position: relative;
    width:80%;
    height: auto;
    margin: 50px 10%;

    /* For Troulble Shooting */
    /* border: .5px solid #c3073f;  */
}

/* END CONTENT BACKGROUND SECTION */

/* START THIS WEEK COMIC SECTION */

#comicOfTheWeek{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

}

#comicOfTheWeekTextSection{
    display: inline-block;

    width: 49.5%; 
    height: auto;
    aspect-ratio:  1 / 1;

    /* For Troulble Shooting */
    /* border: .5px solid #c3073f;  */
}

#comicOfTheWeekTitle{
    margin-top: 40px;
    height: auto;
    width: 100%;
    
    font-size: 65px;
    color: var(--rMid);
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--rMid); */

    letter-spacing: 3px;

    /* For Troulble Shooting */
    /* border: .5px solid #c3073f;  */
}

#comicOfTheWeekAbout{
    font-size: 25px;
    color: var(--rBright);

}

#comicOfTheWeekComic{
    display: inline-block;
    width: 49.5%; 
    height: auto;
    aspect-ratio:  1 / 1;

    float:right;
    /* For Troulble Shooting */
    /* border: .5px solid #c3073f;  */
    
}

#comicImage{
    height: 100%;
    aspect-ratio:  1 / 1;

}

/* END THIS WEEK COMIC SECTION */



/* START ABOUT SECTION */

#about{
    height: auto;
    

}

/* END ABOUT SECTION */


